<!-- wp:template-part {"slug":"header-large","theme":"awforgtheme","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"className":"is-style-default","layout":{"inherit":true,"type":"constrained"}} -->
<main class="wp-block-group is-style-default" style="margin-top:0;margin-bottom:0"><!-- wp:heading {"level":3} -->
<h3 class="wp-block-heading">Hey guys! Welcome to pft!</h3>
<!-- /wp:heading --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"awforgtheme","tagName":"footer","className":"site-footer"} /-->